* {
  margin: 0;
  padding: 0;
}

dialog {
  display: none;
  text-align: center;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  background-color: rgb(60, 60, 129);
  color: white;
  margin-top: 100px;
  animation: open 0.3s;
}

dialog:target {
  display: block;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

.container {
  text-align: center;
  margin: 60px;
}

.container-dialog {
  display: flex;
  margin-bottom: 30px;
}

.button {
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  background-color: rgb(46, 136, 209);
  color: white;
}

.button:hover {
  background-color: rgb(40, 110, 168);
}

.button-dialog {
  color: white;
  padding: 3.5px;
  border-radius: 5px;
  margin-left: auto;
  border: white solid 1px;
}

.button-dialog:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.15);
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
